body {
    background-color: rgb(48,48,48);
    color: rgb(239,235,228);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    display: grid;
    grid-auto-flow: column;
}.timer {
    display: grid;
    grid-auto-flow: column;
    margin-top: 30px;
    background-color: rgb(239,235,228);
    color:black ;
    padding: 10px;
    border-radius: 15px;
    width: 50%;
    margin: auto;
}
